@import url("reset.css");

main {
  background: rgb(145, 75, 221);
  background: linear-gradient(302deg, rgba(145, 75, 221, 0.9697128851540616) 0%, rgba(62, 180, 210, 0.9445028011204482) 55%, rgba(31, 214, 251, 0.9641106442577031) 100%);
}

.content-block {
  max-width: 1440px;
  padding: 20px 15px;
  margin: 0 auto;
}

.icons-block {
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: rgb(39, 39, 39);
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4),
    0px 5px 10px rgba(0, 0, 0, 0.1),
    0px 15px 20px rgba(0, 0, 0, 0.1);
}

.icons-block>img {
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px;
  background-color: rgba(22, 22, 22, 0.584);
  border: 1px solid rgb(80, 1, 1);
  border-radius: 8px;
}

.design-block>img {
  height: 88px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px;
  background-color: rgb(248, 208, 134);
  border: 1px solid rgb(80, 1, 1);
  border-radius: 8px;
}

.design-block>img:last-child {
  min-height: 150px;
}

.design-block {
  margin-bottom: 20px;
}

.content-block>img {
  height: 230px;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 1px solid rgb(80, 1, 1);
  border-radius: 8px;
}