@font-face {
    font-family: 'Deca Sans Web';
    src: url('DecaSansWeb-Bold.woff2') format('woff2'),
        url('DecaSansWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Deca Sans Web';
    src: url('DecaSansWeb-Regular.woff2') format('woff2'),
        url('DecaSansWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

